html {
  height: 100%;
  width: 100%;
    font-size: 35px;
}

header{
    display: flex;
    justify-content: center;
}

#calculatorBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.mainoperators{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    border: 2px black solid;
    padding: 0px 110px 0px 110px;
    border-radius: 10px;
}

.first5{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    border: 2px black solid;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
}

.last5{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    border: 2px black solid;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
}

#plusSign{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#minusSign{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#multiplicationSign{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#divisionSign{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number1{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number2{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number3{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number4{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number5{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number6{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number7{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number8{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number9{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#number0{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#clearBtn{
    width: 600px;
    font-size: 30px;
}

